 body {
   max-width: 855px;
   margin: 0 auto;
 }
.jumbo {
  background: transparent url("../img/home/home-jumbotron.png") no-repeat center center / cover;
  height: 598px;
}
.h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
  margin: 0 0 49px 9.5%;
}
.menu {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
  color: #FFFFFF;
  margin: 23px 0 0 9%;
  background-color:  #D8D8D8;
}
.hamburger {
  margin: 25px 0 0 20%;
}
.crd-text {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 100px 0 100px 0;
}
.crd-text h2 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
}
.crd-text button {
  height: 50px;
  width: 33%;
  border: solid 1px #222222;
}
.crd {
  margin: 55px 0 0 1%;
}
.footer {
    background-color: #828282;
}
p {
    font-weight: 700;
    color: azure;
    font:10px;
}